<%- include('include/_header') %>

  <div class="mx-auto logg" style="width: 25rem;border: none;">
    <div class="card-body">
      <h5 class="card-title">Welcome</h5>
      <p class="card-text text-white">Ce site web conserne le management du stock de notre entrprise 3N Systèmes</p>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>

  <%- include('include/_footer') %>